
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.lloginboby{
  overflow: hidden;
  height: 100vh;
  width: 218.7vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e0505;
  padding: 100px;
}
.lcontainer{
  overflow: hidden;
  position: relative;
  width: 1000px;
  margin-top: -5px;
  /* height:400px; */
  /* width: 100%; */
  background: #dcd9d9;
  padding: 30px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.lcontainer .lcover{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.lcontainer #flip:checked ~ .lcover{
  transform: rotateY(-180deg);
  overflow: hidden;
}
.lbackImg{
  width:1000px;
  overflow: hidden;
}
 .lcontainer .lcover .front,
 .lcontainer .lcover .back{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.lcover .back{
  overflow: hidden;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.lcontainer .lcover::before,
.lcontainer .lcover::after{
  overflow: hidden;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #938b9e;
  opacity: 0.0;
  z-index: 12;
}
.lcontainer .lcover::after{
  opacity: 0.3;
  overflow: hidden;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.lcontainer .lcover img{
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.lcontainer .lcover .text{
  position: absolute;
  overflow: hidden;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lcover .text .text-1,
.lcover .text .text-2{
  font-size: 26px;
  overflow: hidden;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.lcover .text .text-2{
  font-size: 15px;
  overflow: hidden;
  font-weight: 500;
}
.lcontainer .lforms{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #dcd9d9;
}
.lcontainer .lform-content{
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
.lerror-message{
  color: red;
  font-size: 12px;
  overflow: hidden;
    text-align: right;
    margin-left: -175px;
    padding-top: 23px;
    width:340px;
}
.lform-content .llogin-form,
.lform-content .lsignup-form{
  width: calc(100% / 2 - 25px);
  overflow: hidden;
}
.lforms .lform-content .ltitle{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  color: #333;
}
.lforms .lform-content .ltitle:before{
  content: '';
  position: absolute;
  left: 0;overflow: hidden;

  bottom: 0;
  height: 3px;
  width: 25px;
  background: #1b7998;
}
.lforms .lsignup-form  .ltitle:before{
  width: 20px;
  overflow: hidden;
}
.lforms .lform-content .linput-boxes{
  margin-top: 30px;
  overflow: hidden;
}
.lforms .lform-content .linput-box{
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.lform-content .linput-box input{
  height: 100%;
  width: 100%;
  outline: none;
  overflow: hidden;
  border: none;
  background: transparent;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.lform-content .linput-box input:focus,
.lform-content .linput-box input:valid{
  border-color: #1b7998;
  overflow: hidden;
}
.lform-content .linput-box i{
  position: absolute;
  overflow: hidden;
  color: #7d2ae8;
  font-size: 17px;
}
.lforms .lform-content .text{
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  color: #333;
}
.lforms .lform-content .text a{
  text-decoration: none;
  overflow: hidden;
}
.lforms .lform-content .text a:hover{
  text-decoration: underline;
  overflow: hidden;
}
.lforms .lform-content .button{
  color: #fff;
  overflow: hidden;
  
  margin-top: 40px;
}
.lforms .lform-content .button input{
  color: #fff;
  background: #1b7998;
  overflow: hidden;
  border-radius: 6px;
  padding: 0;
  font-size: 17px;
  width:444px;
  height:50px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.lforms .lform-content .button input:hover{
  background: #2e0505;
  overflow: hidden;
 
}
.lforms .lform-content label{
  color: #1b7998;
  cursor: pointer;
  overflow: hidden;
}
.lforms .lform-content label:hover{
  text-decoration: underline;
  overflow: hidden;
}
.lforms .lform-content .llogin-text,
.lforms .lform-content .lsign-up-text{
  text-align: center;
  margin-top: 25px;
  overflow: hidden;
}
.lcontainer #flip{
  display: none;
  overflow: hidden;
}
@media (max-width: 730px) {
    .lcontainer .lcover{
      display: none;
      overflow: hidden;
    }
    .lform-content .llogin-form,
    .lform-content .lsignup-form{
      width: 100%;
      overflow: hidden;
    }
    .lform-content .lsignup-form{
      display: none;
      overflow: hidden;
    }
    .lcontainer #flip:checked ~ .lforms .lsignup-form{
      display: block;
      overflow: hidden;
    }
    .lcontainer #flip:checked ~ .lforms .llogin-form{
      display: none;
      overflow: hidden;
    }
  }