body{
  flex-direction: row-reverse;
}
.hcontainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: black;
}
.homebg{
  overflow: hidden;
  background-color: #16142e;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-bottom: 10px;
}
ul{
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  
}
li {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font:700 15px "Lato", sans-serif;
  background-image: linear-gradient(to right, #ff6e7f 0%, #050632  51%, #ff6e7f  100%);
  text-transform: uppercase;
  border-radius: 25px;
  padding: 7px 13px;
  
  transition: 0.5s;
  background-size: 200% auto;
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  color: white;            
  box-shadow: 0 0 20px #eee;
  display: block;
}
.ulh{
  color: #282E34;
}
a:hover{
  color: black;
  text-decoration: none;
  
}
.sub2{
  /* flex-grow: 4; */
  margin-left: 60%;
  color:black;
}
li:hover{
  text-underline-offset: 3px;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
         


.btn-grad:hover {
}

body::-webkit-scrollbar {
  display: none;
}
.bgimg-1, .bgimg-2, .bgimg-3,.bgimg-4,.bgimg-5 {
  
  position: relative;
  opacity: 1.0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.bgimg-1 {
  background-image: url("D:\adcvApp\react-app\src\Images\senior-patient-protection-stay-safe-concept-vector-30741004.webp");
  height: 65vh;
  /* opacity: 0.6; */
}
.bgimg-3 {
  background-image: url("D:\adcvApp\react-app\src\Images\elderly-black-woman-in-wheelchair-young-nurse-vector-26278201.jpg");
  height: 65vh;
  /* opacity: 0.6; */
}

.bgimg-2 {
  background-image: url("D:\adcvApp\react-app\src\Images\im4.jpg");
  min-height: 70vh;
  width:220vh;
}
.bgimg-4 {
  background-image: url("D:\adcvApp\react-app\src\Images\hand-drawn-asian-old-people-illustration_52683-143751.jpg");
  height: 75vh;
  width:220vh;
}

.bgimg-5 {
  background-image: url("D:\adcvApp\react-app\src\Images\old-man-listening-radio-concept-illustration_114360-19093.jpg");
  height: 430px;
  width:230vh;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: rgb(250, 51, 74, 0.973);
  background-color: #fff;
  padding: 18px;
  opacity: 0.8;
  font-size: 25px;
  padding-left: 30px;
  letter-spacing: 10px;
}

h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.content-section {
  position: relative;
  
  color: #000000;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 50px;
  text-align: justify;
  height: 400px; 
  padding-left: 120px;
} 

